<div class="sectionContainer">
    <div class="roomCartMain">

        <div class="roomName">
            {{roomName}}
        </div>

            <div class="roomCartPhotoSection">
                <div class="roomCartPhoto">
                    {{roomInitialPictures}}
                </div>

                <img class="photoArrow" src="/images/roomCartPhotoArrow.svg" alt="photoArrow">

                <div class="roomCartPhoto">
                    {{threeDRendering}}

                </div>
                
            </div>

                {{!-- {{ >roomdescription}} --}}

            <a class="roomLink" href="">More details <img src="/images/moreDetailsArrow.svg" alt=""></a>

        </div>
    

    
</div>


