<h2 class="roomCartDescription">Description</h2>
<p class="roomCartDescriptionDetails">{{roomDescription}}</p>

<div class="roomCartEFDateContainer">
    <span class="roomCartEFDateLabel">Estimated finish date</span>
    <span class="roomCartEFDate">{{finishDate}}</span>

</div>


<div class="roomCartProcessBar">
  <div class="roomCartFinishedBar">
  </div>

  <div class="roomCartUnfinishedBar">
  </div>
</div>

<div class="roomCartTaskContainer">
    <div class="roomCartTaskCategory">
        
            {{#each tasks}}
            {{this.type}}
            {{/each}}
        
    </div>

</div>
