<div id="index">
  <div id="indexHeading">
    <div id="indexHeadingContainer">
      <div class="largeLogo">
          <span class="largeLogo1">Renov'</span>
          <span class="largeLogo2">Master</span>

        </div>
        <span id="indexSlogan">Streamline Renovation Management</span>

    </div>

  </div>

  <div id="indexLoginSignup">
    <p>Create account / Login</p>
      <div id="indexLoginSignupContainer">

        <a id="indexLogin" class="roundGradientBtn" href="login">Login</a>
        <a id="indexSignup" class="roundWhiteBtn" href="signup">Sign-up</a>
      </div>

  </div>
</div>