<div id="index">
  <div id="indexLeft">
    <div id="indexLeftContainer">
      <div class="largeLogo">
        <span class="largeLogo1">Renov'</span>
        <span class="largeLogo2">Master</span>

      </div>
      <span id="indexSlogan">Streamline Renovation Management</span>

    </div>

  </div>

  <div id="indexRight">
    <p>Create account / Login</p>
    <div id="indexRightContainer">
      
      <a id="indexLogin" class="indexBtn" href="login">Login</a>
      <a id="indexSignup" class="indexBtn" href="signup">Sign-up</a>
    </div>

  </div>
</div>