<div class="display">
    {{>nav}}

    <span class="dropdown-el">
        <input type="radio" name="sortType" value="Relevance" checked="checked" id="sort-relevance"><label for="sort-relevance">Relevance</label>
        <input type="radio" name="sortType" value="Popularity" id="sort-best"><label for="sort-best">Product Popularity</label>
        <input type="radio" name="sortType" value="PriceIncreasing" id="sort-low"><label for="sort-low">Price Low to High</label>
        <input type="radio" name="sortType" value="PriceDecreasing" id="sort-high"><label for="sort-high">Price High to Low</label>
        <input type="radio" name="sortType" value="ProductBrand" id="sort-brand"><label for="sort-brand">Product Brand</label>
        <input type="radio" name="sortType" value="ProductName" id="sort-name"><label for="sort-name">Product Name</label>
    </span>

    <h1 class="sectionHeadLarge">Hello, this is the page with all of your projects</h1>

    <div class="projectsContainer">
        <ul> 
            {{#each projectsFromDB}}
                <li><a href="/projects/{{id}}">{{>projectcard}}</a></li>
            {{/each}}
        </ul>

    </div>
    

    <a href="/projects/new"><img id="addProject" src="../images/addGradient.svg" alt="addProject"></a>

    


</div>

