<h1>Hello, this is the page with all of your projects</h1>

<ul> 
    {{#each userInSession}}
        <li><a href="projects/{{id}}">{{clientFirstName}}</a></li>
    {{/each}}
</ul>

<a href="projects/new">Create new project</a>