body {
  background-color: #fafafe;
  margin: 0;
}

a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;

  color: #2081e4;
}

form {
  display: flex;
  flex-direction: column;
}

/* 
██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝ */

#index {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#indexHeading {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/mobileHomepageBackground.png");
  background-size: cover;
  padding: 0;
  background-color: white;
}

#indexHeadingContainer {
  margin: auto;
  flex-direction: column;
}

.largeLogo {
  display: flex;
  padding: 0;
}

.largeLogo1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  padding: 0;

  color: #17b35f;
}

.largeLogo2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  padding: 0;

  color: #7a24f7;
}

#indexSlogan {
  font-family: "Lato";
  font-style: normal;
  font-size: 1em;
  font-weight: 300;

  color: #2081e4;
}

#indexLoginSignup {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 0;
  background-color: white;
}

#indexLoginSignupContainer {
  height: 15vh;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#indexLoginSignup p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1em;

  color: #5f5e63;
}

.roundWhiteBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 3em;

  box-shadow: 0px 2px 4px 4px #f2f2ff;
  border-radius: 45.5px;
  border-style: none;

  text-decoration: none;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  background-color: #ffffff;
  border: 1px solid #7a24f7;
  color: #7a24f7;
}

.roundGradientBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 3em;

  box-shadow: 0px 2px 4px 4px #f2f2ff;
  border-radius: 45.5px;
  border-style: none;

  text-decoration: none;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  background: linear-gradient(
    96.68deg,
    #c184ff -21.43%,
    #6a67ff 12.14%,
    #6800d6 113.11%
  );
  box-shadow: 0px 2px 4px 4px #f2f2ff;
  border-radius: 45.5px;
  color: #ffffff;
}

/* 
███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ 
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ 
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║     
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝      */

.loginSignup {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loginSignupHeading {
  width: 100vw;
  height: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSignupHeadingContainer {
  width: 70vw;
  height: 21vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mediumLogo {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdbe0;

  padding: 0;
  background-color: white;
}

.mediumLogo1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  padding: 0;

  color: #17b35f;
}

.mediumLogo2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  padding: 0;

  color: #7a24f7;
}

.slogan {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.slogan1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  display: flex;

  color: #2b2a30;
}

.slogan2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 0.5vh;

  color: #82818f;
}

.longForm {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSignupFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

.formLabel {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  display: block;
  margin-bottom: 18px;

  color: #2b2a30;
}

.formInput {
  width: 70vw;
  height: 2em;
  background: #ffffff;
  border: 1px solid #7a00fb;
  border-radius: 2px;
  display: block;
  padding-top: 5px;
}

#signupBtn {
  margin-top: 0.8vh;
  margin-left: auto;
  margin-right: auto;
}

/* 
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
                                        */
#loginForm {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#loginBtn {
  margin-top: 2.5vh;
  margin-left: auto;
  margin-right: auto;
}

/* 
███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝ */

.navbar {
  width: 100vw;
  height: 7.2vh;
  display: flex;
  justify-content: space-between;
}

.navbarUp {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dcdbe0;
}

.navicon {
  width: 47px;
  height: 43px;

  padding: calc((5vh-43px) / 2);
}

.smallLogo {
  display: flex;
  padding: 0;
}

.smallLogo1 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  padding: 0;

  color: #17b35f;
}

.smallLogo2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  padding: 0;

  color: #7a24f7;
}

.navProfilePic {
  height: 36px;
}

.display {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝ */

#profile {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 6vh;
}

#profileMain {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

#profileContainer {
  width: 80vw;

  justify-items: stretch;
}

.profilePic {
  width: 50px;
}

.profileItem {
  display: flex;
  flex-direction: column;
}

.profileItem h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 1vh;

  color: #2b2a30;
}

.profileItem p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8em;

  color: #82808f;
}

#editDeleteProfile {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

.editDeleteBtn {
  display: flex;
  align-items: center;
}

.editIcon {
  width: 24px;
  height: 24px;

  color: #2081e4;
}

.deleteLink {
  color: #fc1d20;
}

.deleteIcon {
  width: 24px;
  height: 24px;

  color: #fc1d20;
}

/* 
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗███████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝██╔════╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   ███████╗
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   ╚════██║
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   ███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   ╚══════╝ */

#addProject {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.projectCard {
  width: 40vw;
  height: 17vh;

  background: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px #ebebf4);
}

.projectCardHeading {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCardClientInfo {
  width: 50%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCardclientName {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  padding: 5px;

  color: #2b2a30;
}

.projectCardclientContact {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;

  color: #161518;
}

.projectCardStatusIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 142px;
  top: 190px;
  padding: 5px;
}

.projectCardPhoto {
  width: 100%;
  height: 45%;

  background: #d9d9d9;
}

.projectCardProgressBar {
  width: 100%;
  height: 10%;

  background: #f3f3f4;
}

.projectCardFinishedBar {
  width: 100%;
  height: 10%;

  background: linear-gradient(270deg, #fabe3a 0.38%, #fef3c9 133.21%);
  border-radius: 0px 0px 0px 10px;
}

.projectCardUninishedBar {
  width: 100%;
  height: 10%;

  background: #f3f3f4;
  border-radius: 0px 10px 0px 0px;
}

/* 
███╗   ██╗███████╗██╗    ██╗    ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗
████╗  ██║██╔════╝██║    ██║    ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝
██╔██╗ ██║█████╗  ██║ █╗ ██║    ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   
██║╚██╗██║██╔══╝  ██║███╗██║    ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   
██║ ╚████║███████╗╚███╔███╔╝    ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   
╚═╝  ╚═══╝╚══════╝ ╚══╝╚══╝     ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝    */

#newProjectMain {
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#newProjectBtn {
  margin-top: 2vh;
}

/* 
██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗    ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝    ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║       ██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║       ██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║       ██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝       ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝ */

#projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clientInfo {
  width: 92vw;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: end;
}

#clientName {
  max-width: 30vw;
  text-align: start;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: auto;

  color: #2b2a30;
}

#clientContact {
  width: 35vw;
  display: flex;
  flex-direction: column;

  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 1em;

  color: #151417;
}

#projectDeadline {
  display: block;
  width: 92vw;
  margin-top: 5vh;
}

.smallTitle {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  font-size: 1em;

  color: #151417;
}

#projectDeadlineDate {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;

  color: #151417;
}

#editDeleteProject {
  margin-top: 1vh;
  margin-left: auto;
  margin-right: 2.5vw;
}

#statusBarTitle {
  margin-left: 2.5vw;
  margin-right: auto;
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  font-size: 1em;

  color: #151417;
}

.statusBarContainer {
  display: flex;
  flex-direction: column;
}

.statusInfo {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.status {
  width: 48px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  margin: 0 4vw;
  padding: 0;

  color: #151417;
}

.statusBar {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
}

.statusIcon {
  flex-grow: 1;
  text-align: center;
  transition: transform 0.3s ease;
  z-index: 2;
}

.statusIcon.active {
  transform: scale(1.5);
}

.statusBarLine {
  position: absolute;
  top: 35%;
  left: 10%;

  width: 80%;
  height: 4px;
  background: #a293fc;
}

.iconLine {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #a293fc;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.statusIcon.active .iconLine {
  background-color: #4e139f;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 2.5vw;
}

.sectionHead {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  color: #2b2a30;
}

.sectionContainer {
  width: 92vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 4.12821px 4.12821px #ebebf4;
  border-radius: 10px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;

  color: #161518;
}

.sectionContainer p {
  padding: 1% 3%;
}

#addMeeting {
  margin-left: 2.5vw;
  margin-right: auto;
}

#editMeeting {
  margin-left: 2.5vw;
  margin-right: auto;
}

.photoSectionContainer {
  width: 92vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfc;
  border: 1px dashed #c593fc;
  border-radius: 2px;
}

.addPhotoIcon {
  width: 75px;
  height: 75px;
}

.roomLink {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1em;

  color: #2081e4;
}

#roomCreationForm {
  width: 95vw;
}

/* 
██████╗  ██████╗  ██████╗ ███╗   ███╗     ██████╗ █████╗ ██████╗ ████████╗
██╔══██╗██╔═══██╗██╔═══██╗████╗ ████║    ██╔════╝██╔══██╗██╔══██╗╚══██╔══╝
██████╔╝██║   ██║██║   ██║██╔████╔██║    ██║     ███████║██████╔╝   ██║   
██╔══██╗██║   ██║██║   ██║██║╚██╔╝██║    ██║     ██╔══██║██╔══██╗   ██║   
██║  ██║╚██████╔╝╚██████╔╝██║ ╚═╝ ██║    ╚██████╗██║  ██║██║  ██║   ██║   
╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚═╝     ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝    */

.roomcart {
  width: 92vw;
  min-height: 50vh;
  left: 19px;

  background: #ffffff;
  box-shadow: 0px 4px 4px #ebebf4;
  border-radius: 15px;
}

.roomName {
  max-width: 45vw;
  padding: 10px;
  border-radius: 10px 10px 50px 10px;
  background: #4e139f;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  color: #ffffff;
}

.roomCartPhotoSection {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.roomCartPhoto {
  width: 30vw;
  height: 10vh;
  margin: 10px;

  background: #f3f3f4;
}

.photoArrow {
  width: 10vw;
}

.roomCartDescription {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  margin-left: 7.5vw;

  color: #4e139f;
}

.roomCartDescriptionDetails {
  width: 80vw;
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;

  color: #2b2a30;
}

.roomCartEFDateLabel {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  margin-right: 5vw;

  color: #2b2a30;
}

.roomCartEFDate {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  margin-right: 7.5vw;

  color: #151417;
}

.roomCartProcessBar {
  width: 80vw;
  height: 12vh;
}

.roomCartFinishedBar {
  width: 80vw;
  height: 12vh;

  background: linear-gradient(270deg, #52cf71 0.38%, #cdf2d6 138.23%);
  border-radius: 2px;
}

.roomCartUnfinishedBar {
  width: 80vw;
  height: 12vh;

  background: #f3f3f4;
  border-radius: 2px;
}

.roomCartTaskContainer {
  width: fit-content;
  height: 26px;

  background: #f9f3ff;
  border: 1px solid #c791ff;
  border-radius: 13px;
}

.roomCartTask {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;

  color: #7a24f7;
}

#roomCreationFormBtn {
  display: inline;
  width: 25vw;
}

/* 
██████╗  ██████╗  ██████╗ ███╗   ███╗    ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
██╔══██╗██╔═══██╗██╔═══██╗████╗ ████║    ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
██████╔╝██║   ██║██║   ██║██╔████╔██║    ██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
██╔══██╗██║   ██║██║   ██║██║╚██╔╝██║    ██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
██║  ██║╚██████╔╝╚██████╔╝██║ ╚═╝ ██║    ██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝     ╚═╝    ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝ */

.projectRoomName {
  max-width: 45vw;
  padding: 10px;
  margin-top: 1px;
  border-radius: 0px 0px 50px 0px;
  background: #4e139f;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;

  color: #ffffff;
}

.roomPhoto {
  width: 40vw;
  height: 13vh;
  margin: 10px;

  background: #f3f3f4;
}

.addRoomPhoto {
  width: 40vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: #fbfbfc;
  border: 1px dashed #c593fc;
  border-radius: 2px;
}

.sectionHeadLarge {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px;

  color: #2b2a30;
}
